@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
  font-family: 'Rubik', sans-serif;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

body {
  background-image: url(../img/fon-main.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  margin-top: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.schedule {
  width: 100%;
  background: url(https://wallpapershome.ru/images/pages/pic_hs/225.jpg);
}

@media (max-width: 400px) {
  main {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
  }
  .card {
    margin-top: 3%;
    padding: 5%;
    margin: auto;
    margin-top: 10px;
  }
  .footer-contacts {}
}

@media (max-width: 800px) {
  main {
    margin-top: 5%;
    margin-left: 5%;
    display: block;
  }
  .card {
    margin-top: 10%;
    padding: 2%;
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
}

ul.socials li {
  margin-top: 10%;
  right: 0;
  display: inline;
  float: right;
  text-decoration: none;
}

.fa {
  color: white;
  padding: 5px;
  font-size: 50px;
  text-align: center;
}

.fa:hover {
  opacity: 0.85;
  color: black;
}

.jumbotron {
  background-image: url(../img/main-foto-bg.jpg);
  background-size: cover;
  background-position: center;
}

.main-title {
  text-align: center;
  margin-top: 3%;
}

input, textarea {
  width: 60%;
  float: right;
  margin-right: 10%;
}

.submit {
  width: 30%;
  height: 40px;
  margin-left: 45%;
  margin-top: 2%;
}

.column {
  margin: 10px;
  column-width: 200px;
  column-count: 3;
  column-gap: 30px;
  column-rule: 1px solid #ccc;
}

.navbar {
  font-size: 120%
}

iframe {
  height: 300px;
  width: 100%;
  border: 0;
}

form {
  margin-top: 3%;
  margin: 5%
}

#title {
  text-align: center;
}

footer {
  margin-top: 3%;
  height: 70px;
  background-color: #171719;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
}

.footer-logo {
  display: inline-block;
  order: 0;
}

.footer-social {
  padding-left: 150px;
  text-align: center;
  display: inline-block;
  order: 1;
}

.footer-contacts {
  padding-top: 40px;
  padding-left: 150px;
  display: inline-block;
  float: right;
  order: 2;
}
